# bazel build files
*/CMakeFiles/*

# cmake related files
# ignore the user specified CMake presets in subproject directories.
/*/CMakeUserPresets.json

# Nested build directory
/new_build*

# Visual Studio built-in CMake configuration
.vscode*
/CMakeSettings.json
# Compilation databases
compile_commands.json
tablegen_compile_commands.yml